# Core Django framework
Django==5.0.6

# For building REST APIs with Django
djangorestframework==3.15.1

# Production web server required by Render
gunicorn==22.0.0

# Database driver for PostgreSQL (if you are using Render's database service)
psycopg2-binary==2.9.9

django-cors-headers==4.3.1
